/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Color Variables */
:root {
  --primary-100: #f1EDF2;
  --primary-200: #bae3ff;
  --primary-300: #7cc4fa;
  --primary-400: #47a3f3;
  --primary-500: #2186eb;
  --primary-600: #0967d2;
  --primary-700: #0552b5;
  --primary-800: #03449e;
  --primary-900: #01337d;

  --secondary-100: #CBC8EC;
  
  --dark:var(--black);

  --yellow: #ffd700;
  --green: #00ff00;
  --red: #ff0000;
  --blue: #0000ff;
  --purple: #800080;
  --pink: #ff1493;
  --orange: #ffa500;
  --black: hsl(216, 28%, 7%);
}

/* Set background color */
body {
  background-color: #f1EDF2;
}


