/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Color Variables */
:root {
  --primary-100: #e6f7ff;
  --primary-200: #bae3ff;
  --primary-300: #7cc4fa;
  --primary-400: #47a3f3;
  --primary-500: #2186eb;
  --primary-600: #0967d2;
  --primary-700: #0552b5;
  --primary-800: #03449e;
  --primary-900: #01337d;

  --secondary-100: #f1e2f3;
  --secondary-200: #d9b8e8;
  --secondary-300: #bb77d1;
  --secondary-400: #9f3a8e;
  --secondary-500: #85217a;
  --secondary-600: #6a186e;
  --secondary-700: #58115e;
  --secondary-800: #48114a;
  --secondary-900: #390e3c;
  --dark:var(--black);

  --yellow: #ffd700;
  --green: #00ff00;
  --red: #ff0000;
  --blue: #0000ff;
  --purple: #800080;
  --pink: #ff1493;
  --orange: #ffa500;
  --black: hsl(216, 28%, 7%);
}

/* Set background color */
body {
  background-color: #ffffff;
}

/* Container styles */
.container {
  color: var(--black);
}
